html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Futura Std Light, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent !important;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.swiper-common .swiper-slide {
    width: 90%;
}

.swiper-common .swiper-slide {
    width: 100%;
    margin-right: 24px;
}

.swiper-common .swiper-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*height: 515px;*/
}

.swiper-about {
    height: 370px;
}

@media (min-width: 900px) {
    .swiper-common .swiper-slide {
        width: 30%;
    }
}

@media (max-width: 1050px) {
    .swiper-about {
        height: 400px;
    }
}

.swiper-slide > img.black-white {
    filter: grayscale(1);
}

.swiper-slide > img.black-white:hover {
    filter: none;
}

.swiper-pagination .swiper-pagination-bullet,
.swiper-common-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    transition: all 0.25s linear;
}

.swiper-pagination .swiper-pagination-bullet-active,
.swiper-common-pagination .swiper-pagination-bullet-active {
    width: 45px;
    border-radius: 8px;
    background-color: #35a839 !important;
}

.ql-editor {
    min-height: 300px;
}
